<div class="card">
    <div class="card-body"></div>
    <h1 class="container">About</h1>
    <hr class="my-4">
    <p class="container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum inventore aspernatur officiis quas nesciunt reiciendis ipsum, illum commodi totam maiores, ea blanditiis dolor soluta quo placeat nisi quasi at sint!</p>
</div>