<div class="jumbotron mt-4" >
    <h1 class="display-4"> Notes App nodejs</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sit, quibusdam, ea quis et molestiae commodi fugiat earum eaque tenetur ullam. Omnis accusamus minus repellat provident sed recusandae autem totam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid facilis quasi esse, perspiciatis tenetur earum aut animi error voluptate possimus architecto beatae id exercitationem reiciendis unde iure, numquam aperiam adipisci.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">Fazt web</a>
</div>