<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" href="#">NOTES APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/notes">All notes</a>
                        <a class="dropdown-item" href="/notes/add">Add notes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/signin" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signup" class="nav-link">Register</a>
                </li>
                {{/if}}
            </ul>

        </div>

    </div>
</nav>