<div class="row">

    

    {{#each notes}}
    <div class="col-md-3">
        <div class="card" >
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    {{this.title}} <a href="/notes/edit/{{_id}}"> <i class="fa fa-pencil "></i></a>
                </h4>
                <p>{{this.description}}</p>

                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-block btn-sm" > Delete </button>

                </form>
            </div>
        </div>
    </div>
    {{/each}}

</div>