<div class="col-md-4 mx-auto">

    <div class="card text-center">

        <div class="card-header">
            <h1>Edit note</h1>

        </div>
        <div class="card-body">

            <form action="/notes/edit/{{note.id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" value="{{note.title}}">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" >{{note.description}}</textarea>
                </div>
                <div class="form-group">

                    <button class="btn btn-primary btn-block"> Save </button>
                  </div>
            </form>

        </div>

    </div>


</div>