<div class="col-md-4 mx-auto">

    <div class="card text-center">

        <div class="card-header">
            <h1>New note</h1>

        </div>
        <div class="card-body">

            <form action="/notes/new-note" method="POST">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" rows="10" placeholder="Description"></textarea>
            </div>
            <div class="form-group">

                <button class="btn btn-primary btn-block"> Save </button>
            </div>
            </form>

        </div>

    </div>


</div>