<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header"> Login </div> <img src="/img/login.png"
                class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group"> <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group"> <input type="password" name="password" class="form-control"
                            placeholder="Password"> </div>
                    <div class="form-group"> <button class="btn btn-primary btn-block"> Signin </button> </div>
                </form>
            </div>
        </div>
    </div>
</div>